@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --clr-primary: hsl(25, 97%, 53%);

    --clr-neutral-hsl-100: 0, 0%, 100%;
    --clr-neutral-hsl-200: 217, 12%, 63%;
    --clr-neutral-hsl-300: 216, 12%, 54%;
    --clr-neutral-hsl-400: 213, 19%, 18%;
    --clr-neutral-hsl-500: 216, 12%, 8%;

    --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
    --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));
    --clr-neutral-300: hsl(var(--clr-neutral-hsl-300));
    --clr-neutral-400: hsl(var(--clr-neutral-hsl-400));
    --clr-neutral-500: hsl(var(--clr-neutral-hsl-500));

    --font-family-default: "Overpass", sans-serif;

    --fw-400: 400;
    --fw-700: 700;

    --fs-100: 1rem;
    --fs-200: 1.25rem;
    --fs-300: 1.5rem;
    --fs-400: 1.75rem;
    --fs-500: 2rem;
    --fs-700: 2.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--clr-neutral-500);
    font-family: var(--font-family-default);
    color: var(--clr-neutral-200);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.round-bg {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: hsl(var(--clr-neutral-hsl-300), .5);
    width: 3rem;
    display: grid;
    place-content: center;
}

button {
    border: none;
}

.submit-form {
    max-width: 28rem;
    margin: 1.25rem;
    border: 1px solid white;
    padding: 1.5rem;
    background-color: hsl(var(--clr-neutral-hsl-400), .7);
}

@media (min-width: 500px) {
    .submit-form {
        padding: 2rem;
    }
}

.top-star svg {
    transform: scale(1.1);
}

